.DeleteStudentModal {
    margin: 10% auto;
}

.DeleteStudentModal h2 {
    text-align: center;
}

.Buttons {
    display: flex;
    width: 40%;
    margin: 0 auto;
}

.Buttons button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #0d86b1;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    margin: 10px auto;
    width: 40%;
}