.CheckInForm {
    display: flex;
    flex-direction: column;
}

.CheckInForm input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
  }

.CheckInForm input[type="submit"] {
    cursor: pointer;
    background-color: #0d86b1;
    color: white;
    margin-top: 8px;
}

.CheckInForm input:focus {
    outline: none;
  }